@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@font-face {
  font-family: Accindental;
  src: url(fonts/accid.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: var(--onest);
}

a{
  text-decoration: none;
  color: var(--black);
}

:root{
    --white: #FFF8eb;
    --black: #1b1b1b;
    --yellow: #FFBC04;
    --gray: #cccbcb;
    --text-xl: 4.5rem;
    --text-lg: 3.5rem;
    --text-mdx2: 2.5rem;
    --text-md: 1.8rem;
    --text-sm: 1.2rem;
    --text-smx2: 1.3rem;
    --border-radius: 15px;
    --gap: 10px;
    --padding: 10px 20px;
    --onest: "Onest",serif;
    --coustard: Accindental;
    
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

/* .test{
    height: 100px;
    width: 100px;
    background-color: blue;
} */

body{
  background-color: var(--white);
}
.space{
  height: 100px;
}

/* CART */
.cart-container{
  position: fixed;
  width: 100%;
  height: 100%;
  /* top: -100%; */
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 30;
  display: flex;
  justify-content: end;

}
.cart{
  /* position: fixed; */
  width: 350px;
  position: relative;
  /* height: 100%; */
  background-color: var(--white);
  /* padding: 0 15px;2 */
  display: flex;
  flex-direction: column;
}
.cart h1{
  text-align: center;
  font-weight: 500;
  padding: 15px;
  font-size: var(--text-smx2);
}
.cart .elements{
  padding: 20px 15px;
  width: 100%;
}
.cart .elements .box{
  padding: 10px 30px;
  border-radius: var(--border-radius);
  border: 2px solid var(--black);
  display: flex;
  background-color: #fff;
  gap: 20px;
  /* grid-template-columns: repeat(2, 1fr); */
}
.cart .elements .box img{
  height: 80px;
}
.cart .elements .box .side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart .elements .box .side .top{
  display: flex;
  flex-direction: column;
}
.cart .elements .box .side .top p{
  font-size: 1rem;
}
.cart .elements .box .side .top small{
  font-size: 0.9rem;
  color: var(--gray);
}
.cart .elements .box .side .top span{
  font-size: 0.9rem;
  color: var(--black);
  font-weight: 500;
}
.cart .elements .box .side .bottom{
  display: flex;
  gap: 10px;
}
.cart .elements .box .side .bottom .quantity {
  display: flex;
  border: calc(1.5*1px)  solid var(--gray);
  padding: 1px 15px;
  /* height: 50px; */
  border-radius: 5px;
  align-items: center;
  gap: 10px;
}

.cart .elements .box .side .bottom .quantity small{
font-size: 15px ; 
font-weight: 300;
}

.cart .elements .box .side .bottom .quantity button {
 background: none;
 display: flex;

 color: var(--black);
 font-size: var(--text-mdx2);
  border: none;
  font-size: 4px ; 
  border-radius: 3px;
  padding: 5px ;
  cursor: pointer;
}
.cart .elements .box .side .bottom .quantity button i{
  font-size: 10px;
}
.cart .elements .box .side .bottom .remove {
  /* background-color: #ffa500; */
  border: none;
  color: #fff;
  background-color: var(--black);
  
  border-radius: 5px;
  cursor: pointer;
  
}
.cart .elements .box .side .bottom .remove i{
  font-size: 12px;
  padding: 5px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart .cont{
  padding: 20px 15px;
  display: flex;
  
  justify-content: space-between;
}
.cart .cont h2{
  font-weight: 500;
  font-size: 14px;
}
.cart .end{
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .pay{
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  width: 100%;
  padding: 15px;
  cursor: pointer;
}
.cart .line{
  width: 100%;
  height: 1px;
  background-color: var(--gray);
}
#closeCart{
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 18px;
  cursor: pointer;
}
.cart-show{
  top: 0 !important;
}

.added{
  height: 100px;
  border-radius: var(--border-radius);
  width: 500px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -5%);
  background-color: var(--white);
  z-index: 24;
  display: flex;
  color: var(--black);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--black)
  /* transition: width 2s; */
}
.added i{
  color: green;
  background-color: white;
  padding: 10px;
  border-radius: 1000px;
  font-size: 20px;
}

/* HEADER */
.header{
  height: 110vh;
  width: 100%;
  /* overflow: hidden; */
  position: relative;
  
}
.header .back{
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 0;
  /* overflow: hidden; */
  user-select: none;
  height: 100%;
  /* object-fit: contain; */
  
}
.header .back img{
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.logo{
  position: absolute;
  top: 50%;  
  left: 50%; 

  transform: translate(-50%, -50%);
  /* transform: translateX(%); */
}

.logoHeightInitial{
  height: 200px;
}
.logoHeightAfter{
  height: 100px !important;
}

/* NAVBAR */
nav{
  width: 100%;
  position: fixed;
  /* background: #1B1B1B; */
  z-index: 20 ;
  top: 0; 

}
.pages{
  background-color: #1b1b1b;
  /* z-index: 10; */
}
.navbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: relative;
  padding: 15px 0;
  transition: "1s";
  /* background-color: #1B1B1B; */
 
}

.navbar .left, .navbar .right{
  display: flex; 
  /* justify-content: center;
  align-items: center; */
  gap: calc(3*var(--gap)) ;

}
.navbar .center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.logoNav{
  height: 50px;
  transition: "1s";
  display: none;
}

.pagesNav{
  display: flex;
}

.navbar .right{
  display: flex; 
  justify-content: right;
  align-items: center;
  gap: calc(3*var(--gap)) ;
  position: relative;

}

.navbar .right .cart-icon .dot{
  height: 10px;
  width: 10px;
  background-color: #ffa633;
  position: absolute;
  border-radius: 100%;
  top: -2px;
  right: -6px;
}

.navbar .left a, .navbar .right a{
  color: var(--white);
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-family: var(--coustard);
}

.navbar i{
  cursor: pointer;
  color: var(--white);
}


/* ABOUT */
.about {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about .back{
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden;
  user-select: none;
  
}
.about img{
  position: absolute;
  top: -80%;
  right: 0;
  height: 170%;
  width: fit-content;
}
.about .container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: calc(3*var(--gap)) ;
  
}
.about .container div {
  display: flex;
  flex-direction: column;
  /* gap: calc(2*var(--gap)) ; */
}

.about .container small {
  font-size: var(--text-smx2);
  font-weight: 500;  
}

.about .container h1 {
  
  font-weight: 500; 
  font-size: var(--text-xl);
  line-height: 1;
  width: 50%; 
  font-family: var(--coustard);
}

.about .container p {
  width: 50%; 
  font-size: var(--text-smx2); 

}

.about .container .button {
  background-color: var(--black);
  padding: var(--padding); 
  border-radius:var(--border-radius); 
  width: fit-content; 
  font-family: var(--coustard);
  color: var(--white);
  font-size: var(--text-md);
  font-weight: 300 ;
  letter-spacing: 1px;
}


/* SLIDER */
.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--white);
}
.slider .container{
  height: 100%;
}
.slider .content{
  display: grid;
  height: 100%;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.slider .v2{
  display: flex; 
  justify-content: left;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.slider .v1{
  display: flex; 
  height: 100%;
  justify-content: center;
  align-items: center;
}
.slider .v1 .container2{
  display: flex;
  height: 100%;
    justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider .container2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  gap: 50px; 

}

.slider .container2 .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-transform: uppercase;
}

.slider .container2 .title2 {
  font-size: 10rem;
  font-weight: 500; 
  line-height: 0.9;
  letter-spacing: 1px;
  font-family: var(--coustard); 
}

.slider .container2 .subtitle {
  font-size: 7rem; 
  line-height: 0.9;
  letter-spacing: 1px;
  font-family: var(--coustard);
}

.slider .container2 .description {
  text-align: center; 
  font-size: 1rem; 
}

.slider .container2 .info {
  display: flex;
  justify-content: center; 
}

.slider .container2 .info .box {
  padding: 0.5rem; 
  width: 150px; 
  border: 2px solid; 
  border-right: 0; 
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
  gap: 4px;
}

.slider .container2 .info .box p {
  font-size: 1rem; 
  font-weight: 200;
}

.slider .container2 .info .box small {
  font-size: 1.75rem; 
  font-weight: 400;
}

.slider .container2 .info .type2 {
  border-left: 0; 
}

.slider .part .container2 .indicators {
  display: flex;
  align-items: center;
  gap: 1.5rem; 
}

.slider .part .container2 .indicators .indicator {
  height: 60px; 
  background-color: var(--white);
  width: 60px; 
  border-radius: 50%; 
  cursor: pointer;
}

.slider .part .container2 .indicators .indicator.active {
  border: 4px solid rgb(221, 169, 0); 
  border-radius: 50%; 
  padding: 0.25rem; 
  height: 75px; 
  width: 75px; 
  background-color: var(--white);
}

.slider .v2{
  height: 700px;
  width: 100%;
  z-index: 10;
  position: relative;
  overflow: hidden;
}

.v2 .banner{
  position: absolute;
  height: 500px;
  left: 5%;
  bottom: 0;
}
.slider .image2 {
  position: absolute;
  top: 0;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: contain;
  z-index: 1;
}
.slider .image2 img{
  height: 100%;
  width: auto;
  /* object-fit: cover; */
}

.slider .back {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  /* width: 100%; */
  height: 100% ;
  overflow: hidden;
  user-select: none;
  z-index: -1;
  width: 100%;
}
.slider .back img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* BENTO */
.bento {
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* padding: 20px 0; */
  
  
}

.bento .container {
  
  
  gap: 24px;
  display: grid;
  grid-template-rows: 1fr 9fr ;
  /* height: 100vh; */
  /* height: fit-c; */
  height: 120vh;
  width: 100%;
}

.bento .container .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-transform: uppercase;
  /* height: 10vh; */
}

.bento .container .text .title {
  font-family: var(--coustard);
  font-size: 6rem;

  line-height: 0.8;
  font-weight: 500;
  color: var(--black);
}

.grid-bento {
  
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  /* height: 100%; */
  gap: 16px;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "part1 part3 part5"
    "part1 part3 part5"
    "part1 part3 part5"
    "part2 part3 part6"
    "part2 part4 part6"
    "part2 part4 part6"
    "part2 part4 part6"
    "part2 part4 part7";
}

.grid-bento div {
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid black;
}

.grid-bento div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-bento .part1 {
  grid-area: part1;
}

.grid-bento .part2 {
  grid-area: part2;
}

.grid-bento .part3 {
  grid-area: part3;
}

.grid-bento .part4 {
  grid-area: part4;
}

.grid-bento .part5 {
  grid-area: part5;
}

.grid-bento .part6 {
  grid-area: part6;
}

.grid-bento .part7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  grid-area: part7;
}

.grid-bento .part7 p {
  font-size: var(--text-mdx2);
  letter-spacing: 1px;
  font-family: var(--coustard);
}

/* HISTORY */
.history{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history .text{
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  
  align-items: center;
  text-transform: uppercase;
}
.history .text .title {
  font-family: var(--coustard);
  font-size: 6rem;

  line-height: 0.8;
  font-weight: 500;
  color: var(--black);
}

.history .video{
  width: 100%;
  height: 100%;
}

.history .video iframe{
  height: 100%;
  width: 100%;
}

.history .back {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  /* width: 100%; */
  height: 100% ;
  overflow: hidden;
  user-select: none;
  z-index: -1;
  width: 100%;
}
.history .back img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* MAP */
.map {
  width: 100%; /* Assuming container takes full width */
 
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto; /* Center the map horizontally */
  align-items: center;
  gap: 20px; /* Equivalent to 'gap-5' in Tailwind */
}

.map .title  h1{
  font-family: var(--coustard);
  font-size: 6rem;

  line-height: 0.8;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}



.map .maps {
  width: 100%;
  border: 2px solid black; /* Standard border with width 2px */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden;
  height: 450px;
}

.map .maps iframe {
  width: 100%;
  height: 100%;
}


/* TRY */
/* .try{
  width: 100%;
  height: 100vh;
  position: relative;
}

.try img{
  position: absolute;
  width: 100%;
} */

/* THIRSTY */
.thirsty {
  height: 90vh; 
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirsty .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 

}

.thirsty .text .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black); 
  text-align: center;
  
}

.thirsty .text .heading h1 {
  font-family: var(--coustard);
  font-size: 
  calc(2*var(--text-xl));
  /* line-height: 0.5; */
  line-height: 0.9;
  font-weight: 500;
}

.thirsty .text .button {
  background-color: var(--black);
  padding: var(--padding); 
  border-radius: var(--border-radius);
  width: fit-content;
  font-family: var(--coustard);
  color: var(--white);
  font-size: var(--text-md);
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease; 
}


.thirsty .text .button:hover {
  transform: scale(1.1); 
  background-color: var(--black);
}
.last{
  position: relative;
  overflow: hidden;
  width: 100%;
}
.last .back1{
  position: absolute;
  top: 0;
  left: 0;
  height: 1200px;
  
  object-fit: contain;
  user-select: none;
  z-index: -1;
}
.last .back2{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1100px;
  
  object-fit: contain;
  user-select: none;
  z-index: -1;
}
/* .about .back{
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden;
  user-select: none;
  
} */
/* .about.back img{
  height: 100%;
  width: 100%;
  object-fit: cover;
} */
.last .back2 img{
  
}

.review {
  /* max-width: 900px; */
  margin: auto;
  height: 100vh;
  /* width: 100%; */
  /* padding: 20px; */
}
/* .title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
} */
.reviews {
  
  justify-content: center;
  gap: 20px;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* width: 100%; */
}
.review-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
}
.tagembed-widget{
  /* width: fit-content; */
}
.stars {
  color: gold;
  font-size: 18px;
}
.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
.reviewer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.review-text {
  font-size: 14px;
  margin-top: 10px;
}
.rating-summary {
  font-size: 18px;
  margin-bottom: 20px;
}
.google-logo {
  color: #4285F4;
  font-weight: bold;
}


/* FOOTER */
footer {
  /* background-color: var(--black);  */
  height: 500px;
  overflow: hidden;
}

footer .test {
  width: 100%;
  padding-top: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
gap: 40px;
}

footer .test .top {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

footer .test .top h1 {
  text-transform: uppercase;
  font-size: var(--text-mdx2);
  font-weight: 500;
  letter-spacing: 1px;
  font-family: var(--coustard);
}

footer .test .top .links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

footer .test .top .links div {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2rem;
}

footer .test .middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  width: 66%;
  margin: 0 auto;
}

footer .test .middle .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
}




footer .test .middle .box h1 {
  font-size: var(--text-md);
  /* display: flex; */
  font-weight: 500;
  /* align-items: flex-start; */
  font-family: var(--coustard);
}

footer .test .middle .box .service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  opacity: 0.85;
}

footer .test .end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.85;
  gap: 0.5rem;
}

footer .test .end .upper {
  display: flex;
  gap: 0.75rem;
}

footer .test .photos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

footer .content {
  padding: 20px 0;
  color: white;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content .title {
  font-weight: bold;
  font-size: 1.25rem;
}

footer .content .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .content .left .upper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .content .left .upper .title {
  font-weight: bold;
  font-size: 1.25rem;
}

footer .content .left img {
  height: 100px;
  width: auto;
  object-fit: cover;
}

footer .content .left .lower {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .content .part {
  width: 33
}

footer .back {
  position: absolute;
  /* top: -10%; */
  /* top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%); */
  /* width: 100%; */
  overflow: hidden;
  height: 600px;
  user-select: none;
  z-index: -1;
  width: 100%;
}
footer .back img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.end{
  width: 100%;
  height: 100px;
  background-color: var(--black);
}

/* CATALOG */
.catalog-page{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 50px;
}
.catalog{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    gap: 20px;
}
/* .catalog .card-container{
   
} */

.catalog .left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}



 



  .card-container {
    border: 2px solid;
    border-radius:  var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
  }

  .card-container .special{
    position: absolute;
    background-color: #ffa633;
    top: 20px;
    right: -10px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
  }
  
  .card-container .card-title {
    font-size: var(--text-md); /* 20px */
    font-weight: 500;
    font-family: var(--onest);
  }
  
  .card-container .card-image {
    display: flex;
    justify-content: center;
    height:200px;
    padding: 5px 0;
    position: relative;
    /* width: 20px; */
    /* object-fit: contain; */
  }
  .card-container .card-image  img{
    height: 100%;
    z-index: 2;
  }

  .card-container .card-image  .banner{
    position: absolute;
    z-index: 1;
    height: 150px;
    bottom: -10px;
  }
  
  .card-container .info {
    display: flex;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .card-container .box {
    padding: 8px;
    width: 100%;
    border: 2px solid  var(--gray);
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card-container .box p {
    font-size: 0.75rem; /* 12px */
  }
  
  .card-container .box small {
    font-size: 1rem; /* 16px */
  }
  
  .card-container .type2 {
    border-left: none;
  }
  
  .card-container .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  
  .card-button {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }
  
  .card-button-primary {
    background-color: var(--black);
    border: 2px solid --black;
  }
  
  .card-button-primary:hover {
    background-color: white;
    color: var(--black);
    border: 2px solid var(--black);
  }
  
  .card-button-secondary {
    background-color: white;
    color: var(--black);
    border: 2px solid var(--black);
  }
  
  .card-button-secondary:hover {
    background-color: var(--black);
    color: white;
  }
  

  .more{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    color: var(--white);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .more .main{
  
    height: fit-content;
    width: 800px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    border: 2px solid var(--black);
    color: var(--black);
    position: relative;
  }
  #close{
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--black);
    font-size: 20px;
    z-index: 22;
    cursor: pointer;
  }
  .hidden { display: none !important; }

  .viewMoreCard {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 40px;
    max-width: 900px;
    width: 100%;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.viewMoreCard .images{
  display: flex;flex-direction: column;
  gap: 10px;
}
.viewMoreCard .image-gallery {
    display: flex;
    
    justify-content: space-between;
}

.viewMoreCard .image-gallery img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--black);
}

.viewMoreCard .image-gallery img.active {
    border-color: #ffa500;
}

.viewMoreCard .main-image{
  height:500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--black);
  border-radius: var(--border-radius);

  /* object-fit: contain; */
}

.viewMoreCard .main-image img {
   height: 100%;
   width: 100%;
   object-fit: cover;
    border-radius: 10px;
}

.viewMoreCard .details {
    flex: 1;
    display: flex;
    justify-content: space-between
    ;
    flex-direction: column;
    gap: 10px;
}

.viewMoreCard .details h1 {
    font-size: var(--text-mdx2);
    text-align: center;
    margin: 0;
    font-weight: 400;
    line-height: 0.9;
}
.viewMoreCard .details .top{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.viewMoreCard .details .info {
    display: flex;
    /* gap: 20px; */
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.viewMoreCard .details .info div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    border: 2px solid var(--gray);
    border-left: none;
}
.viewMoreCard .details .info .right{
  border-right: none;
}

.viewMoreCard .details .info div span{
  font-size: 12px;
  text-transform: uppercase;

}
.viewMoreCard .details .info div strong{
  font-size: var(--text-md);
  font-weight: 400;
  line-height: 0.9;
}

.viewMoreCard .details .description {
    font-size: 20px;
    /* color: #333; */
}

.viewMoreCard .details .price {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.viewMoreCard .details .actions {
    display: flex;
    align-items: center;
    
    gap: 10px;
}

.viewMoreCard .details .actions button {
    /* background-color: #ffa500; */
    border: none;
    color: #fff;
    /* padding: 10px 15px; */
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.viewMoreCard .details .actions button:hover {
    /* background-color: #cc8400; */
}

.viewMoreCard .details .actions .quantity {
    display: flex;
    border: calc(1.5*1px)  solid var(--gray);
    padding: 5px 25px;
    height: 50px;
    border-radius: var(--border-radius);
    align-items: center;
    gap: 30px;
}

.viewMoreCard .details .actions .quantity small{
  font-size: 30px ; 
  font-weight: 300;
}

.viewMoreCard .details .actions .quantity button {
   background: none;
   display: flex;

   color: var(--black);
   font-size: var(--text-mdx2);
    border: none;

    border-radius: 3px;
    cursor: pointer;
}

.viewMoreCard .details .actions .quantity button:hover {
    /* background-color: #bbb; */
}
.viewMoreCard .details .actions .cart{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--black);
    border-radius: var(--border-radius);
}

.viewMoreCard .details .actions .cart i{
    /* background-color: var(--black); */
    /* padding: 15px; */
    font-size: 20px;
    border-radius: var(--border-radius);

}

/* Filters */
.filters{
  width: 100%;
  border: 2px solid var(--black);
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filters h2{
  font-size: var(--text-smx2);
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--gray);
}

.filters h3{
  font-size: var(--text-smx2);
  font-weight: 500;
}

.filters .type{
  padding-bottom: 20px;
  border-bottom: 2px solid var(--gray);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
 .filters .type .filter-options{
  display: flex;
  flex-direction: column;
  gap: 5px;
 }
 .filters .type .filter-options input{
  accent-color: #ffa500;
 }

 .filters .price {
  display: flex;
  flex-direction: column;
  gap: 10px;
 }

 .filters .price .price-filter {
  display: flex;
  gap: 10px;
 }

 .filters .price .price-filter input{
    width: 60px;
    outline: none;
    border: none;
    background-color: var(--gray);
    color: var(--black);
    padding: 3px;
    border-radius: 8px;
    /* border: 2px solid var(--black); */
 }
 .filters .price .price-filter input::placeholder{
  display: flex;
  padding-left: 3px;
  justify-content: center;
  align-items: center;
  /* color: var(--white); */
 }


.permission{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.permission .back{
  position: absolute;
  user-select: none;
  z-index: -1;
}

.permission .center{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.permission .center .logoPer{
  height: 100px;
}

.permission .center .options{
  display: flex;
  gap: 10px;
}
.permission .center h1{
  font-size: var(--text-lg);
  font-family: var(--coustard);
  font-weight: 100;
  width: 40%;
  text-align: center;
}

.permission .center p{
  font-size: var(--text-md);
  background-color: #fff;
  color: var(--black);
  border-radius: var(--border-radius);
  padding: var(--padding);
  font-family: var(--coustard);
  cursor: pointer;
}


.try{
  height: 400px;
  object-fit: contain;
}


/* ABOUT US */
.about-us .title{
  /* height: 100%;
  width: 100%; */
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-us .title p{
  font-size: 6rem;
  font-family: var(--coustard);
  line-height: 0,5;
}
.about-us .title small{
  font-size: 28rem;
  font-weight: 500;
  line-height: 0.6;
  font-family: var(--coustard);
  letter-spacing: 10px;
}
.about-us .back{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 100%; */
  /* top: 10%; */
}
.about-us .back img{
  height: auto;
  width: 100%;
  object-fit: contain ;
  /* bottom: 100px; */

}

.curtains{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.curtains .info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.curtains .info p{
  font-family: var(--coustard);
  font-size: 2rem;
  color: #85754e;

  
}
.curtains .info small{
  font-size: 3rem;
  width: 30%;
  text-align: center;
  font-family: var(--coustard);
  text-transform: uppercase;
  color: #332019;
  font-weight: 500;
}

.curtains .images{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;

}
.curtains .images img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#curt2{
  justify-self: right;
}



.small-info{
  display: grid;
  height: 300px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;  
}
.small-info .para{
  color: #332019;
  font-size: 1.2rem;
}
.small-info .title{
  width: 50%;
}
.small-info .title p{
  text-transform: uppercase;
  font-family: var(--coustard);
  font-size: 2rem;
  letter-spacing: 3px;
  color: #85754e;
}
.small-info .title small{
  text-transform: uppercase;
  font-family: var(--coustard);
  font-size: 7rem;
  line-height: 0.8;
  
  color: #332019;

}

.medium-info{
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.medium-info .box{
  border: 1px solid #85754e;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 15px;
}

.medium-info .box p{
  text-transform: uppercase;
  font-family: var(--coustard);
  font-size: 5rem;
  /* letter-spacing: 3px; */
  color: #85754e;
}
.medium-info .box img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.medium-info .box small{
  font-size: 4rem;
  line-height: 0.8;
  font-family: var(--coustard);
  color: #332019;

}

.medium-info .box span{
  font-size: 1.25rem;
}


.tour {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: sticky;
  top: -10px;
  z-index: -1;
}

.tour .title{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
  line-height: 1;
}

.tour .title p{
  color: #85754e;
  font-family: var(--coustard);
  font-size: 2rem;
}
.tour .title small{
  color: #332019;
  font-family: var(--coustard);
  font-size: 7rem;
  line-height: 1;
}
.tour .title a{
  /* background-color: var(--black); */
  background-color: #332019;
  padding: var(--padding); 
  border-radius:var(--border-radius); 
  width: fit-content; 
  font-family: var(--coustard);
  color: var(--white);
  font-size: var(--text-md);
  /* font-weight: 300 ; */
  letter-spacing: 1px;
}
.tour .images{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 600px;
  width: 100%;
  
  justify-content: center;
  align-items: center;
}

.tour .images img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tour .images .special{
  height: 70%;
  
}
.tour .images .max{
  height: 90%;
}

.full-photo{
  height: 100vh;
  width: 100%;
  display: grid;
  z-index: 2;
  grid-template-columns: repeat(2, 1fr);
}
.full-photo .image{
  height: 100%;
  width: 100%;
}
.full-photo .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.full-photo .text{
  background-color: var(--black);
  width: 100%;
  height: 100%;
}

@media (max-width:1536px) {
  .container{
    width:  1280px;
  }
}


@media only screen and (max-width:1280px) {
    /* *{
      font-size: 14px;
    } */
    .container{
      width:  1020px;
    }
    .logoHeightInitial{
      height: 160px;
    }
    .logoHeightAfter{
      height: 60px !important;
    }
    .about img{
      top: -60%;
      height: 150%;
    }
    .slider .container2 .title2{
      font-size: 8.5rem;
    }
    .slider .container2 .subtitle {
      font-size: 6.5rem; 
    }
    .slider .container2 .info .box {
      padding: 0.4rem; 
      gap: 4px;
      padding: 16px 8px;
    }
    .slider .container2 .info .box p {
      font-size: 1rem; 

    }

    .slider .container2 .info .box small {
      font-size: 1.4rem; 

    }
    .v2 .banner{
      height: 350px;
      bottom: 10%;
    }
    .slider .image2{
      height: 500px;
      top: 8%;
    }
    .slider .part .container2 .indicators .indicator{
      height: 55px; 
      width: 55px; 
    }
    .slider .part .container2 .indicators .indicator.active{
      height: 70px; 
      width: 70px;
    }
    .bento .container .text .title {
      font-size: 5rem;
    }
    .grid-bento{
      height: 80vh;
      width:  1024px;
      margin: 0 auto;
    }
    .grid-bento .part7 p{
      font-size: 1.7rem;
    }
    .map .title  h1{
      font-size: 5rem;
    }
    .last .back1{
      top: 0;
      left: 0;
      height: 900px;
    }
    .last .back2{
      bottom: 0;
      right: 0;
      height: 800px;
    }
    .thirsty .text .heading h1 {
      font-size: 8.5rem;
    }
    /* .catalog{
      grid-template-columns: repeat(2, 1fr);
    } */
    .catalog-page{
      gap: 20px;
    }
    .card-container .card-title{
      font-size: 1.75em;
    }
    .card-container .card-image  .banner{
      height: 125px;
    }
    .card-container .card-image{
      height:170px
    }
    /* .card-button{
      font-size: 0.rem;
    } */
}
@media (max-width:1024px) {
  .container{
    width:  800px;
  }
  .logoHeightInitial{
    height: 120px;
  }
  .logoHeightAfter{
    height: 50px !important;
  }
  .navbar{
    padding: 10px 0;
  }
  .logoNav{
    height: 40px;
  }
  .about img{
    top: -30%;
    height: 120%;
  }
  .about .container small {
    font-size: 1.1rem;

  }
  .about .container h1 {
    font-size: 3.5rem;

  }
  .about .container p {
    font-size: 1.2rem;
    width: 60%;

  }
  .about .container .button {
    font-size: 1.6rem;
  }
  .slider .container2 .title2{
    font-size: 7rem;
  }
  .slider .container2 .subtitle {
    font-size: 5.5rem; 
  }
  .slider .container2 .info .box {
    padding: 0.3rem; 
    gap: 3px;
    padding: 10px 5px;
  }
  .slider .container2 .info .box p {
    font-size: 0.8rem; 

  }
  .slider .container2 .info .box small {
    font-size: 1.25rem; 
    /* font-weight: 400; */
  }
  .slider .container2{
    gap: 35px;
  }
  .v2 .banner{
    height: 250px;
    bottom: 20%;
    left: 10%;
  }
  .slider .image2{
    height: 400px;
    top: 16%;
  }
  .slider .part .container2 .indicators .indicator{
    height: 50px; 
    width: 50px; 
  }
  .slider .part .container2 .indicators .indicator.active{
    height: 60px; 
    width: 60px;
  }
  .slider .container2 .info .box {
    width: 125px;
  }
  .bento .container .text{
    display: flex;
  }
  .bento .container .text .title {
    font-size: 4rem;
    
  }
  .grid-bento{
    width: 800px;
  }
  .space{
    height: 40px;
  }
  .map .title  h1{
    font-size: 4rem;
  }
  .last .back1{
    top: 0;
    left: 0;
    height: 700px;
  }
  .last .back2{
    bottom: 0;
    right: 0;
    height: 600px;
  }
  .thirsty .text .heading h1 {
    font-size: 7.5rem;
  }
  .thirsty .text .button{
    font-size: 1.75rem;
  }
}

@media (max-width:800px) {
  .container{
    width:  650px;
  }

}

@media (max-width:640px) {
  .container{
    width:  480px;
  }
  nav{
    display: none;
  }
  .logoHeightInitial{
    height: 50px;
  }
  .logoHeightAfter{
    height: 50px !important;
  }
  .about img{
    top: -20%;
    height: 100%;
  }
  .about .container small {
    font-size: 1.1rem;

  }
  .about .container h1 {
    font-size: 3.5rem;
    width: 80%; 

  }
  .about .container p {
    font-size: 1.2rem;
    width: 80%;

  }
  .about .container .button {
    font-size: 1.6rem;
  }
  .slider .content{
    display: flex;
    flex-direction: column-reverse;
  }
  .bento{
    display: none;
  }
  .slider .content{
    padding-top: 50px;
    gap: 20px;
  }
  .slider .v1{
    justify-content: start;
  }
  .slider .v1 .container2{
    justify-content: start;
  }
  .slider .container2 .title2{
    font-size: 4rem;
  }
  .slider .container2 .subtitle {
    font-size: 3rem; 
  }
  .slider .container2 .info .box {
    padding: 0.3rem; 
    gap: 3px;
    /* padding: 10px 5px; */
  }
  .slider .container2 .info .box p {
    font-size: 0.8rem; 

  }
  .slider .container2 .info .box small {
    font-size: 1.2rem; 
    /* font-weight: 400; */
  }
  .slider .container2{
    gap: 20px;
  }
  .v2 .banner{
    height: 200px;
    bottom: 0%;
    left: 24%;
  }
  .slider .image2{
    height: 300px;
    top: 5%;
  }
  .slider .part .container2 .indicators .indicator{
    height: 40px; 
    width: 40px; 
  }
  .slider .part .container2 .indicators .indicator.active{
    height: 45px; 
    width: 45px;
  }
  .slider .container2 .info .box {
    width: 125px;
  }
  .map .title  h1{
    font-size: 1rem;
  }
}

@media (max-width:475px) {
  
}