@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@font-face {
  font-family: Accindental;
  src: url(fonts/accid.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: var(--onest);
}

a{
  text-decoration: none;
  color: var(--black);
}

:root{
    --white: #FFF8eb;
    --black: #1b1b1b;
    --yellow: #FFBC04;
    --gray: #C9C9C9;
    --text-xl: 4.5rem;
    --text-lg: 3.5rem;
    --text-mdx2: 2.5rem;
    --text-md: 1.8rem;
    --text-sm: 1.2rem;
    --text-smx2: 1.3rem;
    --border-radius: 15px;
    --gap: 10px;
    --padding: 10px 20px;
    --onest: "Onest",serif;
    --coustard: Accindental;
    
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

/* .test{
    height: 100px;
    width: 100px;
    background-color: blue;
} */

body{
  background-color: var(--white);
}
.space{
  height: 100px;
}

/* HEADER */
.header{
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
  position: relative;
  
}
.header .back{
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden;
  user-select: none;
  
}
.header .back img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.logo{
  position: absolute;
  top: 50%;  
  left: 50%; 

  transform: translate(-50%, -50%);
  /* transform: translateX(%); */
}


/* NAVBAR */
nav{
  width: 100%;
  position: fixed;
  /* background: #1B1B1B; */
  z-index: 20 ;
  top: 0; 

}
.pages{
  background-color: #1b1b1b;
  /* z-index: 10; */
}
.navbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: relative;
  padding: 15px 0;
  transition: "1s";
  /* background-color: #1B1B1B; */
 
}

.navbar .left, .navbar .right{
  display: flex; 
  /* justify-content: center;
  align-items: center; */
  gap: calc(3*var(--gap)) ;

}
.navbar .center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.logoNav{
  height: 50px;
  transition: "1s";
  display: none;
}

.pagesNav{
  display: flex;
}

.navbar .right{
  display: flex; 
  justify-content: right;
  align-items: center;
  gap: calc(3*var(--gap)) ;

}

.navbar .left a, .navbar .right a{
  color: var(--white);
  font-size: var(--text-sm);
}


/* ABOUT */
.about {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about .back{
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden;
  user-select: none;
  
}
/* .about.back img{
  height: 100%;
  width: 100%;
  object-fit: cover;
} */
.about img{
  position: absolute;
  top: -80%;
  right: 0;
  height: 170%;
  width: fit-content;
}
.about .container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: calc(3*var(--gap)) ;
  
}
.about .container div {
  display: flex;
  flex-direction: column;
  /* gap: calc(2*var(--gap)) ; */
}

.about .container small {
  font-size: var(--text-smx2);
  font-weight: 500;  
}

.about .container h1 {
  
  font-weight: 500; 
  font-size: var(--text-xl);
  line-height: 1;
  width: 50%; 
  font-family: var(--coustard);
}

.about .container p {
  width: 50%; 
  font-size: var(--text-smx2); 

}

.about .container .button {
  background-color: var(--black);
  padding: var(--padding); 
  border-radius:var(--border-radius); 
  width: fit-content; 
  font-family: var(--coustard);
  color: var(--white);
  font-size: var(--text-md);
  font-weight: 300 ;
  letter-spacing: 1px;
}


/* SLIDER */
.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--white);
}
.slider .container{
  height: 100%;
}
.slider .content{
  display: grid;
  height: 100%;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.slider .v2{
  display: flex; 
  justify-content: left;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.slider .v1{
  display: flex; 
  height: 100%;
  justify-content: center;
  align-items: center;
}
.slider .v1 .container2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider .container2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  gap: 50px; 

}

.slider .container2 .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-transform: uppercase;
}

.slider .container2 .title2 {
  font-size: 10rem;
  font-weight: 500; 
  line-height: 0.9;
  letter-spacing: 1px;
  font-family: var(--coustard); 
}

.slider .container2 .subtitle {
  font-size: 7rem; 
  line-height: 0.9;
  letter-spacing: 1px;
  font-family: var(--coustard);
}

.slider .container2 .description {
  text-align: center; 
  font-size: 1rem; 
}

.slider .container2 .info {
  display: flex;
  justify-content: center; 
}

.slider .container2 .info .box {
  padding: 0.5rem; 
  width: 150px; 
  border: 2px solid; 
  border-right: 0; 
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
}

.slider .container2 .info .box p {
  font-size: 1rem; 
  font-weight: 200;
}

.slider .container2 .info .box small {
  font-size: 1.75rem; 
  font-weight: 400;
}

.slider .container2 .info .type2 {
  border-left: 0; 
}

.slider .part .container2 .indicators {
  display: flex;
  align-items: center;
  gap: 1.5rem; 
}

.slider .part .container2 .indicators .indicator {
  height: 60px; 
  background-color: var(--white);
  width: 60px; 
  border-radius: 50%; 
}

.slider .part .container2 .indicators .indicator.active {
  border: 4px solid rgb(221, 169, 0); 
  border-radius: 50%; 
  padding: 0.25rem; 
  height: 75px; 
  width: 75px; 
  background-color: var(--white);
}

.slider .v2{
  height: 700px;
  width: 100%;
  z-index: 10;
  position: relative;
  overflow: hidden;
}

.v2 .banner{
  position: absolute;
  height: 500px;
  left: 5%;
  bottom: 0;
}
.slider .image2 {
  position: absolute;
  top: 0;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: contain;
  z-index: 1;
}
.slider .image2 img{
  height: 100%;
  width: auto;
  /* object-fit: cover; */
}

.slider .back {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden;
  user-select: none;
  z-index: -1;
  width: 100%;
}
.slider .back img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* BENTO */
.bento {
  height: 120vh;
  width: 100%;
  /* padding: 20px 0; */
  
}

.bento .container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* margin: 0 auto; */
  gap: 24px;
  display: grid;
  grid-template-rows: 1fr 9fr ;

  height: 100%;
  width: 100%;
}

.bento .container .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-transform: uppercase;
}

.bento .container .text .title {
  font-family: var(--coustard);
  font-size: 6rem;

  line-height: 0.8;
  font-weight: 500;
  color: var(--black);
}

.grid-bento {
  
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
  
  gap: 16px;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "part1 part3 part5"
    "part1 part3 part5"
    "part1 part3 part5"
    "part2 part3 part6"
    "part2 part4 part6"
    "part2 part4 part6"
    "part2 part4 part6"
    "part2 part4 part7";
}

.grid-bento div {
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid black;
}

.grid-bento div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-bento .part1 {
  grid-area: part1;
}

.grid-bento .part2 {
  grid-area: part2;
}

.grid-bento .part3 {
  grid-area: part3;
}

.grid-bento .part4 {
  grid-area: part4;
}

.grid-bento .part5 {
  grid-area: part5;
}

.grid-bento .part6 {
  grid-area: part6;
}

.grid-bento .part7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  grid-area: part7;
}

.grid-bento .part7 p {
  font-size: var(--text-mdx2);
  letter-spacing: 1px;
  font-family: var(--coustard);
}

/* HISTORY */
.history{
  height: 135vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.historyBack{
  position: absolute;
  bottom: 0;  
  left: -5%; 
  /* transform: translateX(-42%); */
  /* width: 100%; */
  /* overflow: hidden; */
  user-select: none;
}
.history .text{
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  
  align-items: center;
  text-transform: uppercase;
}
.history .text .title {
  font-family: var(--coustard);
  font-size: 6rem;

  line-height: 0.8;
  font-weight: 500;
  color: var(--black);
}

/* MAP */
.map {
  width: 100%; /* Assuming container takes full width */
 
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto; /* Center the map horizontally */
  align-items: center;
  gap: 20px; /* Equivalent to 'gap-5' in Tailwind */
}

.map .title  h1{
  font-family: var(--coustard);
  font-size: 6rem;

  line-height: 0.8;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}



.map .maps {
  width: 100%;
  border: 2px solid black; /* Standard border with width 2px */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden;
  height: 450px;
}

.map .maps iframe {
  width: 100%;
  height: 100%;
}


/* TRY */
/* .try{
  width: 100%;
  height: 100vh;
  position: relative;
}

.try img{
  position: absolute;
  width: 100%;
} */

/* THIRSTY */
.thirsty {
  height: 90vh; 
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirsty .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 

}

.thirsty .text .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black); 
  text-align: center;
  
}

.thirsty .text .heading h1 {
  font-family: var(--coustard);
  font-size: 
  calc(2*var(--text-xl));
  /* line-height: 0.5; */
  line-height: 0.9;
  font-weight: 500;
}

.thirsty .text .button {
  background-color: var(--black);
  padding: var(--padding); 
  border-radius: var(--border-radius);
  width: fit-content;
  font-family: var(--coustard);
  color: var(--white);
  font-size: var(--text-md);
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease; 
}


.thirsty .text .button:hover {
  transform: scale(1.1); 
  background-color: var(--black);
}
.last{
  position: relative;
  overflow: hidden;
  width: 100%;
}
.last .back1{
  position: absolute;
  top: 0;
  left: 0;
  height: 1200px;
  
  object-fit: contain;
  user-select: none;
  z-index: -1;
}
.last .back2{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1100px;
  
  object-fit: contain;
  user-select: none;
  z-index: -1;
}
/* .about .back{
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden;
  user-select: none;
  
} */
/* .about.back img{
  height: 100%;
  width: 100%;
  object-fit: cover;
} */
.last .back2 img{
  
}


/* CATALOG */
.catalog-page{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 50px;
}
.catalog{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    gap: 20px;
}
/* .catalog .card-container{
   
} */

.catalog .left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}



  .permission{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    color: #fff;
  }

  .permission .back{
    position: absolute;
    user-select: none;
    z-index: -1;
  }

  .permission .center{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .permission .center .logoPer{
    height: 100px;
  }

  .permission .center .options{
    display: flex;
    gap: 10px;
  }
  .permission .center h1{
    font-size: var(--text-lg);
    font-family: var(--coustard);
    font-weight: 100;
    width: 40%;
    text-align: center;
  }

  .permission .center p{
    font-size: var(--text-md);
    background-color: #fff;
    color: var(--black);
    border-radius: var(--border-radius);
    padding: var(--padding);
    font-family: var(--coustard);
    cursor: pointer;
  }


  .try{
    height: 400px;
    object-fit: contain;
  }



  .card-container {
    border: 2px solid;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
  }

  .card-container .special{
    position: absolute;
    background-color: #ffa633;
    top: 20px;
    right: -10px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
  }
  
  .card-container .card-title {
    font-size: var(--text-md); /* 20px */
    font-weight: 500;
    font-family: var(--onest);
  }
  
  .card-container .card-image {
    display: flex;
    justify-content: center;
    height:200px;
    padding: 5px 0;
    position: relative;
    /* width: 20px; */
    /* object-fit: contain; */
  }
  .card-container .card-image  img{
    height: 100%;
    z-index: 2;
  }

  .card-container .card-image  .banner{
    position: absolute;
    z-index: 1;
    height: 150px;
    bottom: -10px;
  }
  
  .card-container .info {
    display: flex;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .card-container .box {
    padding: 8px;
    width: 100%;
    border: 2px solid;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card-container .box p {
    font-size: 0.75rem; /* 12px */
  }
  
  .card-container .box small {
    font-size: 1rem; /* 16px */
  }
  
  .card-container .type2 {
    border-left: none;
  }
  
  .card-container .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  
  .card-button {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }
  
  .card-button-primary {
    background-color: var(--black);
    border: 2px solid --black;
  }
  
  .card-button-primary:hover {
    background-color: white;
    color: var(--black);
    border: 2px solid var(--black);
  }
  
  .card-button-secondary {
    background-color: white;
    color: var(--black);
    border: 2px solid var(--black);
  }
  
  .card-button-secondary:hover {
    background-color: var(--black);
    color: white;
  }
  

  .more{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    color: var(--white);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .more .main{
  
    height: fit-content;
    width: 800px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    border: 2px solid var(--black);
    color: var(--black);
    position: relative;
  }
  #close{
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--black);
    font-size: 20px;
    z-index: 22;
    cursor: pointer;
  }
  .hidden { display: none; }

  .viewMoreCard {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 40px;
    max-width: 900px;
    width: 100%;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.viewMoreCard .images{
  display: flex;flex-direction: column;
  gap: 10px;
}
.viewMoreCard .image-gallery {
    display: flex;
    
    justify-content: space-between;
}

.viewMoreCard .image-gallery img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--black);
}

.viewMoreCard .image-gallery img.active {
    border-color: #ffa500;
}

.viewMoreCard .main-image{
  height:500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--black);
  border-radius: var(--border-radius);

  /* object-fit: contain; */
}

.viewMoreCard .main-image img {
   height: 100%;
   width: 100%;
   object-fit: cover;
    border-radius: 10px;
}

.viewMoreCard .details {
    flex: 1;
    display: flex;
    justify-content: space-between
    ;
    flex-direction: column;
    gap: 10px;
}

.viewMoreCard .details h1 {
    font-size: var(--text-mdx2);
    text-align: center;
    margin: 0;
    font-weight: 400;
    line-height: 0.9;
}
.viewMoreCard .details .top{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.viewMoreCard .details .info {
    display: flex;
    /* gap: 20px; */
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.viewMoreCard .details .info div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    border: 2px solid var(--gray);
    border-left: none;
}
.viewMoreCard .details .info .right{
  border-right: none;
}

.viewMoreCard .details .info div span{
  font-size: 12px;
  text-transform: uppercase;

}
.viewMoreCard .details .info div strong{
  font-size: var(--text-md);
  font-weight: 400;
  line-height: 0.9;
}

.viewMoreCard .details .description {
    font-size: 20px;
    /* color: #333; */
}

.viewMoreCard .details .price {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.viewMoreCard .details .actions {
    display: flex;
    align-items: center;
    
    gap: 10px;
}

.viewMoreCard .details .actions button {
    /* background-color: #ffa500; */
    border: none;
    color: #fff;
    /* padding: 10px 15px; */
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.viewMoreCard .details .actions button:hover {
    /* background-color: #cc8400; */
}

.viewMoreCard .details .actions .quantity {
    display: flex;
    border: calc(1.5*1px)  solid var(--gray);
    padding: 5px 25px;
    height: 50px;
    border-radius: var(--border-radius);
    align-items: center;
    gap: 30px;
}

.viewMoreCard .details .actions .quantity small{
  font-size: 30px ; 
  font-weight: 300;
}

.viewMoreCard .details .actions .quantity button {
   background: none;
   display: flex;

   color: var(--black);
   font-size: var(--text-mdx2);
    border: none;
    /* padding: 5px; */
    border-radius: 3px;
    cursor: pointer;
}

.viewMoreCard .details .actions .quantity button:hover {
    /* background-color: #bbb; */
}
.viewMoreCard .details .actions .cart{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--black);
    border-radius: var(--border-radius);
}

.viewMoreCard .details .actions .cart i{
    /* background-color: var(--black); */
    /* padding: 15px; */
    font-size: 20px;
    border-radius: var(--border-radius);

}